.containerEbooks{
    display: grid;
    grid-template-columns: repeat(7, 0.5fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    overflow: hidden;
}

.filters {
    grid-column: 1;
    grid-row: span all;
    padding-left: 20%;
}

.filters ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filters ul:nth-child(2) {
    margin-top: 10%;
    margin-bottom: 10%;
}

.filters .list {
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: black;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1px;
}

.eBooks {
    grid-column: 2/span all;
    grid-row: span all;
    padding: 1%;
    display: flex;
    flex-flow: row wrap;
    column-gap: 2%;
    row-gap: 4%;
}

.eBooks .Book{
    background-color: rgba(53, 62, 152, 0.11);
    width: 20vh;
    height: 25vh;
    padding-top: 1.25%;
    padding-bottom: 1%;
    border-radius: 15px;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eBooks .Book img {
    height: 20vh;
    box-shadow: 7px -7px rgba(117, 206, 153, 1);
}

.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column; /* Ajout pour organiser verticalement */
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s linear infinite;
  }
  
  .loading-message {
    margin-top: 20px; /* Ajoutez de l'espace entre le spinner et le message */
    color: #666; /* Couleur du texte */
    font-size: 16px; /* Taille du texte */
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }